@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
}

.react-multi-carousel-track {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: visible;
	display: flex;
}

.react-multi-carousel-list {
	display: flex;
}

.react-multi-carousel-dot--active button {
	background-color: white !important;
}

.react-multi-carousel-dot button {
	border-color: white !important;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transition-property: all;
	transition-duration: 300ms;
}

.react-multi-carousel-dot button:hover {
	background-color: white;
}

.react-multi-carousel-dot button {
	border: 1px solid white !important;
	margin-right: 0 !important;
}